*{
    margin: 0;
    padding: 0;
   
    font-family:poppins,inter;
}

body{
    background-color:;
    
}


.container{
    width: 100%;
    margin: 0 auto;
}
header{
    background-color:#000000 ;
}
.logo{
    float: left;
    color: #FFFFFF;
    padding: 10px 0;
    margin-left: 50px;
    line-height: 70px;
    font-size: 50px;
}
 header::after{
    content: '';
    display: table;
    clear: both;
 }
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
nav ul{
    margin: 0;
    padding: 0;
    float: right;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}
nav a{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 15px;
}
nav a:hover{
    color:#ED661F;
    
}
nav a::before{
    content:'';
    display: block;
    height: 5px;
    
    background-color:#ED661F;
    position: absolute;
    bottom: 0;
    width: 0%;
    transition: all ease-in-out 250ms;

}
nav a:hover::before{
    width: 100%;
}
button{
    border: none;
    background-color:#ED661F;
    padding: 12px 30px;
    border-radius: 5.14468px;
    color: #FAFAFA;
    font-weight: bold;
    font-size: 15px;
    margin-right:300px;
    
}

.main{
    background-image: url(../assets/images/image\ 2.png),url(../assets/images/image\ 1.png);
    background-position: 70% 15%,center bottom;
   background-repeat: no-repeat,no-repeat;
   background-size: 50% 50%,100% 95%;
    width: 100%;
    height: 100vh;
    position: relative;
    
}
.maintext{
    text-align:right;
    position: absolute;
    top:40%;
    right: 10%;
    position: absolute;
    transform: translate(-50%, -50%);
    color:#000000;
}
.maintext h2{
    font-size: 3rem;
    margin: 0;
    font-weight: bold;
    white-space: no-wrap;
}
.maintext p{
    font-size:1.5rem ;
    margin: 0;
    
}
.card {
    background: white;
    padding: 80px 40px;
    margin: 0 30px;
    font-family: sans-serif;
    color: rgba(0,0,0,0.2);
    font-size: 24px;
    position: relative;
    width: 300px;
    box-shadow: -30px 30px 30px rgba(0, 0, 0, 0.3);
}
.hero{
    display: flex;
    flex-direction: row;
    height: 50vh;
    width: 100%;
    text-decoration: none;
    padding-top: 5rem;
    margin-left: 20px;
    
}
.left{
    flex: 5;
}
.right{
    flex: 8;
}
img{
    height: 100%;
    weiight:100%;
}
.heading{
    font-family: ;
    display: inline;
    text-decoration: underline;
    text-decoration-color: #ED661F;
    text-decoration-thickness: 3px;
    text-decoration-thickness: ;
   
    font-weight: bold;
    font-size: 2rem;
    text-decoration-style:solid ;
    -moz-text-decoration-style: solid;
    width: 20px;
    
}
.hero p{


font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 29px;
}
.categories h1{
    font-style: normal;
    font-weight: bold;
    font-size: 2rem;
    line-height: 30px;
    text-align: center;
    color:black;
   
    text-decoration: underline;
    text-decoration-color: #ED661F;

}
.categories p{
font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 30px;
  text-align: center;
  color:black;
}
.container{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly;
   height: 400px;
   width: 100%;
  

}
.card1{
    font-family: "Space Grotesk", sans-serif;
    align-items: flex-start;
    padding: 7px 15px 14px 38px;
    width: 20rem;
    height: 16rem;
    border-radius: 0px 39.7214px;
  }